body{
    padding: 0px;
    margin: 0px;
}
button{
    border-radius: 25px !important;
    width: 160px;
    color: #ffffff;
}
#myHeader{
    background: linear-gradient(90deg, rgba(84,79,121,1) 31%, rgba(118,66,122,1) 66%);
    padding: 200px 0px 80px;
}
#myHeader .left{
    color: #ffffff;
    border-right: 2px solid grey;
    padding-right: 40px;
    
}
#myHeader .left h1{
    font-size: 39px;
}
#myHeader .right{
    color: #b4a2bc;
    padding-left: 38px;
}
#myHeader .right p{
    font-size: 18px;
    font-weight: 500;
}
#myHeader button{
    background-color: #00bc8a;
}
#section-1{
    padding: 80px 0px;
}
#section-1 .left{
    border-right: 2px solid lightgrey;
}
#section-1 .left p{
    margin: 30px 0px;
}
#section-1 .right, #contact-section .right{
    padding-left: 38px;
    padding-right: 10px;
}
#section-1 .right p, #contact-section .right p{
    display: inline;
    margin-left: 10px;
}
#section-1 .right i, #contact-section .right i{
    color: #00bc8a;
}

#section-2{
    padding: 80px 0px;
    border-top: 2px solid lightgrey;
    background-color: #fafafa;
}
#section-2 .container, #section-2 .row, #section-2 .row .col-md-4{
    padding: 0px !important;
}
#section-2 .container .row{
    border-bottom: 2px solid lightgrey;
    background-color: #ffffff;
    margin-bottom: 50px !important;
}
#section-2 .container .col{
    padding: 5%;
}
#section-2 .container .col p{
    margin: 30px 30px 30px 0px;
}
#section-2 .container .col button{
    color: black;
    border: 2px solid lightgrey;
    background: transparent;
}
#section-2 .container .row-4{
    border: none;
    margin: auto;
    width: 25%;
    margin-bottom: 0px !important;
}
#section-2 .container .row-4 button{
    color: black;
    border: 2px solid lightgrey;
    background: transparent;
    width: 240px;
    
}
#contact-section{
    padding: 50px 0px;
    border-bottom: 2px solid lightgrey;
}
#contact-section .left{
    border-right: 2px solid lightgrey;
    padding-right: 40px;
}
#contact-section .left p{
    margin: 30px 0px;
    line-height: 30px;
}
#contact-section .left form button{
    color: black;
    border: 2px solid lightgrey;
    background: transparent;
}
footer{
    text-align: center;
    padding: 60px 0px;
}